.aside__skew
    .aside
        .aside__container
            .aside__container--left
                .aside__container--left__title
                    .aside__container--left__title__titleAbout
                        p Our Services
                    .aside__container--left__title__titleText
                        h1 We can take your business to the next level
                    p.aside__container--left__title__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laudantium provident dicta cumque rem quisquam repellat repellendus culpa nesciunt ipsum.
                    button.aside__container--left__title__button Learn more
            .aside__container--right
                .aside__container--right__blocks
                    - var text = 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores incidunt tenetur ea!'
                    .aside__container--right__blocks--block
                        h4.aside__container--right__blocks--block__title UL/UX design
                        p.aside__container--right__blocks--block__text=text
                    .aside__container--right__blocks--block
                        h4.aside__container--right__blocks--block__title Branding
                        p.aside__container--right__blocks--block__text=text
                    .aside__container--right__blocks--block
                        h4.aside__container--right__blocks--block__title Games
                        p.aside__container--right__blocks--block__text=text
                    .aside__container--right__blocks--block
                        h4.aside__container--right__blocks--block__title Marketing
                        p.aside__container--right__blocks--block__text=text
    include testimony
