.footer__container
    .footer__skew
        .footer__page
            .footer__page__menu
                .footer__page__menu--logo
                    h1.footer__page__menu--logo--text agency
                .footer__page__menu__links
                    - var items = ['Home', 'About Us', 'Our Services', 'Support']
                    - var dataItems = ['header', 'about', 'services', 'support']
                    each item, key in items
                        if item === 'Home'
                            a.footer__page__menu__links__link.footer__page__menu__links__link--active(href="#" data-link=dataItems[key])= item
                        else
                            a.footer__page__menu__links__link(href="#" data-link=dataItems[key])= item
                .footer__page__menu--icons
                    a(href="https://www.facebook.com", target="_blank").footer__page__menu--icons--icon.fa-brands.fa-facebook-f
                    a(href="https://www.youtube.com", target="_blank").footer__page__menu--icons--icon.fa-brands.fa-youtube
                    a(href="https://twitter.com", target="_blank").footer__page__menu--icons--icon.fa-brands.fa-twitter
                    a(href="https://www.linkedin.com", target="_blank").footer__page__menu--icons--icon.fa-brands.fa-linkedin-in
            .footer__page__end
                h6.footer__page__end--text Copyright &#169 Chirag Bactop 2022