.form
    .form__container
        .form__container--left
            .form__container--left__title
                .form__container--left__title__titleAbout
                    p Contact us
                .form__container--left__title__titleText
                    h1 Don`t Hesitate to Contact us for any Information
                p.form__container--left__title__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laudantium provident dicta cumque rem quisquam repellat repellendus culpa nesciunt ipsum. 
        .form__container--right
            form.form__container--right__formMain
                fieldset.form__container--right__formMain--fullname
                    legend Full Name
                    input(type="text", name="fullname")
                fieldset.form__container--right__formMain--mail
                    input(type="mail", name="mail", placeholder="Email")
                fieldset.form__container--right__formMain--text
                    textarea(name="text" placeholder="Message") 
                input(type="submit", value="Submit").form__container--right__formMain--submit
                .form__circle__cyan