.header
    .container__skew
        include nav
        .container__skew__title
            .container__page
                .container__skew__title--left
                    .container__skew__title--left--textMain
                        h1 Creative Design Agency
                    p.container__skew__title--left--text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui eaque at optio, repudiandae pariatur architecto.
                    button.container__skew__title--left--button Learn more
                .container__skew__title--right
                    .circle__right__points
                        svg.points-horizon(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='568px' width='264px')
                            pattern#circle_horizon(x='10' y='5' width='60px' height='60px' viewbox='0 0 50 50' patternunits='userSpaceOnUse')
                                circle(cx='8' cy='8' r='4' fill='#fff')
                            rect(x='0' y='0' width='264px' height='568px' fill='url(#circle_horizon)')
                        svg.points-vertical(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='568px' width='264px')
                            pattern#circle_vertical(x='10' y='0' width='60px' height='59px' viewbox='0 0 50 50' patternunits='userSpaceOnUse')
                                circle(cx='8' cy='8' r='4' fill='#fff')
                            rect(x='0' y='0' width='264px' height='568px' fill='url(#circle_vertical)')
                    .circle_yellow
                    .image_public 
                        svg(width='809px' version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 900 717' style='enable-background:new 0 0 900 717;' xml:space='preserve')
                            pattern#image_peaples(x='-20' y='-50' patternunits='userSpaceOnUse' height='1040' width='1000')
                                image(x='0' y='0' xlink:href='/images/Peoples.png')
                            path.st0(d='M57.5,244.5c36.88,116.7,29.51,184.18,14,225c-2.06,5.42-6.1,15.21-10,30c-17.54,66.57-2.58,122.36,13,153\
                            c3.37,6.62,7.15,12.83,13,19c3.83,4.04,18.88,18.98,53,25c10.01,1.77,39.29,5.88,83-7c42.98-12.66,86.75-37.86,120-57\
                            c2.52-1.45,11.35-6.56,24-11c10.17-3.57,21.75-7.63,36-7c16.95,0.74,29.43,7.75,37,12c14.1,7.91,16.87,13.98,36,24\
                            c4.33,2.27,7.89,3.85,15,7c17.7,7.85,33.88,13.95,40,16c34.65,11.63,82.86,6.36,86,6c51.89-6.01,87.99-27.59,105-38\
                            c33.7-20.63,54.37-43.07,67-57c19.06-21.01,50.36-55.8,65-106c1.05-3.6,20.14-72.15-5-137c-58.84-151.8-316.12-170-448-266\
                            c-6.69-4.87-32.86-24.35-72-41c-49.72-21.15-88.98-24.36-98-25c-24.19-1.72-53.78-3.82-89,9c-16.55,6.03-47.58,17.79-71,49\
                            c-20.81,27.74-24.52,56.04-27,75C38.72,186.62,49.16,223.11,57.5,244.5z' fill='url(#image_peaples)')
                    .circle__blue
        .circle__left__great
        .circle__left__small
        .circle__left__inside
        .circle__left__points
            svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='240px' width='100px')
                pattern#circle(x='2' y='4' width='28px' height='27px' viewbox='0 0 50 50' patternunits='userSpaceOnUse')
                    circle(cx='6' cy='6' r='3' fill='#fff')
                rect(x='0' y='0' width='100px' height='240px' fill='url(#circle)')