.section
    .section__container
        .section__container--left 
            .section__container--left__chatMobile
                .circle__section__small
                img(src="/images/ChatMobile.png", alt="", srcset="")
            .circle__section__great
        .section__container--right
            .section__container--right__title
                .section__container--right__title__titleAbout
                    p About Us
                .section__container--right__title__titleText
                    h1 Digiyal Agency Providing various Services
                p.section__container--right__title__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laudantium provident dicta cumque rem quisquam repellat repellendus culpa nesciunt ipsum.
                button.section__container--right__title__button Learn more
            .circle__container--right_great
                .circle__container--right_small