.testimony
    .testimony__page
    .testimony__page__container
        h6.testimony__page__container__title Testimonials
        h1.testimony__page__container__titleMain What people say
        .testimony__page__container__message
            img(src="images/quotes.png", alt="", srcset="")
            p.testimony__page__container__message__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores assumenda temporibus voluptatum ea perferendis necessitatibus.
            span.testimony__page__container__message__commentator Zoltan Nemeth
            .testimony__page__container__message__stars
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
            .testimony__page__container__message__buttons
                button.testimony__page__container__message__buttons__back.deactive.fa-solid.fa-arrow-left-long
                button.testimony__page__container__message__buttons__next.active.fa-solid.fa-arrow-right-long
        .testimony__page__container__message__opacity--start
        .testimony__page__container__message__opacity--end  


    .testimony__circle__yellow