@font-face {
    font-family: 'joan-regular';
    src: url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
    font-weight: bold;
    font-style: normal;
}

$ff-gilroy-bold: 'joan-regular';