.testimony {
    width: 100%;
    min-height: 1200px;
    background: #6321db;
    position: absolute;
    transform-origin: top;
    // margin-top: 250px;
    transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -o-transform: skewY(3deg);
}